<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd">

	<bean id="dateBean" class="com.zby.bean.DateBean">
		<property name="birthday" value="2018-8-8 12:12:12"></property>
	</bean>
	<bean id="dateFormate" class="java.text.SimpleDateFormat">
		<constructor-arg index="0" value="yyyy-MM-dd HH:mm:ss"></constructor-arg>
	</bean>
	<bean id="date" factory-bean="dateFormate" factory-method="parse">
		<constructor-arg index="0" value="2018-8-8 13:13:13"></constructor-arg>
	</bean>


	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date" value="com.zby.custom.String2DatePropertyEditor" />
			</map>
		</property>
	</bean>


 	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.zby.custom.String2DateConverter" />
			</list>
		</property>
	</bean> 
</beans>
